/**
 * Header
 */

 .navbar-default {
    /* background: transparent; */
}

.navbar {
    border-bottom: 0;
    padding: 0;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    min-height: 30px;
}

.navbar.navbar-default {
    margin: 0;
    padding: 20px 0;
    height: auto;
    padding-bottom: 9px
}

.logo-wrapper {
    min-height: 20px;
    float: left;
    margin: 0;
}

.logo-wrapper .logo {
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.logo-wrapper,
.navbar-nav-wrapper,
.nav-mini-wrapper {
    float: left;
}

.logo-wrapper {
    width: 15%;
}

.navbar-nav-wrapper {
    width: 70%;
}

.nav.navbar-nav {
    text-align: center;
    float: none;
}

.nav.navbar-nav li {
    position: relative;
    float: none;
    display: inline-block;
}

.nav.navbar-nav li a {
    color: #FFF;
    font-weight: 600;
}

.nav.navbar-nav > li > a {
    line-height: 36px;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    /* text-transform: lowercase; */
    letter-spacing: 1px;
    padding-left: 14px;
    color: #787b86;
}

.nav.navbar-nav > li:last-child > a {
    padding-right: 0;
}

@media only screen and (max-width: 991px) {
    .logo-wrapper {
        width: 50%;
    }
    .navbar-nav-wrapper {
        width: 0%;
    }
    .nav-mini-wrapper {
        width: 50%;
    }
    .navbar {
        margin: 0;
        padding: 0;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .navbar-brand {
        line-height: 30px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .navbar-arrow > ul > li .arrow-indicator,
    .navbar-arrow ul ul > li .arrow-indicator {
        display: none !important;
    }
    ul.nav-mini {
        margin-right: 36px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-fixed-top {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        clear: both;
    }
}


/**
 * Hero
 */

 .hero {
    position: relative;
    padding: 170px 0 140px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: "";
}

.hero h1 {
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    font-size: 56px;
    line-height: 1.2;
}

.hero p {
    color: #FFF;
    text-align: center;
    font-size: 27px;
    margin: 44px 0 65px;
    line-height: 1.2;
}

@media only screen and (max-width: 1199px) {
    .hero {
        background-size: auto;
    }
}

@media only screen and (max-width: 991px) {
    .hero h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 767px) {
    .hero {
        padding: 92px 0 70px;
    }
    .hero .form-group {
        width: 400px;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero p {
        font-size: 21px;
        margin: 24px 0 35px;
        line-height: 1.4;
    }
}

@media (max-width: 479px) {
    .hero .form-group {
        width: 280px;
    }
    .hero {
        padding: 144px 0 122px;
    }
    .hero h1 {
        font-size: 34px;
    }
    .hero p {
        font-size: 18px;
    }
}


/**
 * Search Form
 */

.main-search-form-wrapper {
    z-index: 5;
    width: 55%;
    margin: 0 auto;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    padding: 0 20px;
}

.main-search-form-wrapper .form-control {
    background: none;
    color: #FFF;
    border: 0;
    border-radius: 0;
    padding: 12px 0;
    height: 50px;
}

.main-search-form-wrapper .row > div:last-child .form-control {
    padding-right: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.main-search-form-wrapper .form-holder {
    margin-right: 10px;
}

.main-search-form-wrapper .btn-holder {
    position: absolute;
    top: 0;
    right: 0;
}

.main-search-form-wrapper .btn-holder .btn {
    background: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    .main-search-form-wrapper {
        width: 80%;
    }
    ul.quick-search-keyword {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .main-search-form-wrapper {
        width: 95%;
    }
    .second-search-result-inner {
        padding-left: 0;
    }
    .second-search-result-inner .labeling {
        position: relative;
        top: 0;
        padding-bottom: 10px;
        display: block;
    }
    ul.quick-search-keyword {
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    .main-search-form-wrapper {
        width: 100%;
    }
}

.process-item-wrapper {
    margin-bottom: -15px;
}


/**
 * Post Hero
 */

.post-hero {
    border-bottom: 1px solid #E6E6E6;
    padding: 8px 0;
}

/**
 * Login and Register
 */

 .login-box-wrapper .modal-header,
 .login-box-wrapper .modal-footer {
     background: #EEE;
 }
 
 .login-box-wrapper .modal-body {
     padding: 25px 25px 20px;
 }
 
 .login-box-wrapper .modal-title {
     line-height: 1;          
     margin: 0;
     /* text-transform: lowercase; */
     font-weight: 700;
 }
 
 .login-modal-or {
     margin: 45px 0 25px;
     text-align: center;
     font-weight: 600;
 }
 
 .login-modal-or > div {
     border-top: 1px solid #DDD;
     position: relative;
     height: 14px;
 }
 
 .login-modal-or > div > span {
     display: block;
     width: 40px;
     height: 40px;
     background: red;
     border-radius: 50%;
     line-height: 38px;
     font-size: 10px;
     letter-spacing: 1px;
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -20px;
     margin-top: -20px;
     text-transform: uppercase;
     border: 1px solid #DDD;
     background: #FFF;
 }
 
 .login-box-link-action {
     text-align: right;
 }
 
 .login-box-box-action {
     margin-top: 10px;
 }
 
 .btn-facebook,
 .btn-google-plus {
     color: #FFF !important;
 }
 
 .btn-facebook {
     background: #4c9930;
 }
 
 .btn-google-plus {
     background: #d34836;
 }
 
 .btn-facebook:hover,
 .btn-google-plus:hover {
     opacity: 0.8;
 }
 
 .login-container-wrapper {
     padding: 70px 0;
 }
 
 .login-container-wrapper .login-box-wrapper {
     border: 1px solid #DDD;
     border-radius: 3px;
     -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.16);
     -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.16);
     box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.16);
 }
 
 .modal.login-box-wrapper {
     width: 600px !important;
     margin-left: -300px !important;
 }
 
 @media only screen and (max-width: 1199px) {}
 
 @media only screen and (max-width: 991px) {
     .login-modal-or {
         margin-top: 80px;
     }
 }
 
 @media only screen and (max-width: 767px) {
     .modal.login-box-wrapper {
         width: auto !important;
         margin-left: auto !important;
     }
     .login-box-link-action {
         text-align: left;
         margin-top: 10px;
     }
     .login-modal-or {
         margin-top: 45px;
     }
 }
 
 @media (max-width: 479px) {}

/**
 * Footer
 */

 .main-footer {
    background: #2e363e;
    padding-top: 60px;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    margin-top: -48px;
}

.main-footer a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.main-footer a:hover {
    color: #2991A2;
}

h5.footer-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0 25px;
    color: #FFF;
    position: relative;
}

.footer-about-us {
    margin-right: 40px;
    font-size: 14px;
    line-height: 24px;
}

.footer-about-us a {
    border: 2px solid #33B6CB;
    color: #33B6CB;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 3px;
    font-size: 11px;
    letter-spacing: 2px;
}

.footer-about-us a:hover {
    border-color: #2991A2;
}

ul.footer-menu li {
    width: 50%;
    float: left;
    margin-bottom: 12px;
}

.footer-newsletter {
    margin-top: 23px
}

.footer-newsletter .form-group {
    position: relative;
}

.footer-newsletter .form-control {
    background: none;
    height: 44px;
    border-radius: 22px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    padding-right: 100px;
    color: #FFF;
}

.footer-newsletter .form-control:focus {
    border-color: #FFF;
}

.footer-newsletter .btn {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 22px;
    line-height: 16px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.bottom-footer {
    background: #26262a;
    color: rgba(255, 255, 255, 0.5);
    line-height: 22px;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bottom-footerx {
    background: #fbfdfd;
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
    font-size: 100%;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    line-height: 30px;
    margin-left: -39px;
}

.bottom-footer a {
    color: rgba(255, 255, 255, 0.5);
}

.bottom-footer a:hover {
    color: #2991A2;
}

ul.bottom-footer-menu {
    text-align: center;
}

ul.bottom-footer-menu li {
    display: inline-block;
    position: relative;
    font-size: 12px;
}

ul.bottom-footer-menu li + li {
    margin-left: 30px;
}

ul.bottom-footer-menu li:after {
    content: "";
    position: absolute;
    top: 10px;
    right: -20px;
    width: 4px;
    height: 4px;
    background: #33B6CB;
    border-radius: 50%;
}

ul.bottom-footer-menu li:last-child:after {
    display: none;
}

ul.bottom-footer-menu.for-social {
    float: right;
}

ul.bottom-footer-menu.for-social li + li {
    margin-left: 20px;
}

ul.bottom-footer-menu.for-social li a {
    font-size: 16px;
}

ul.bottom-footer-menu.for-social li:after {
    display: none;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    ul.bottom-footer-menu {
        text-align: left;
        margin: 10px 0;
    }
    ul.bottom-footer-menu.for-social {
        float: left;
        margin: 0;
    }
}

@media (max-width: 479px) {}